In [2]:
import tensorflow as tf
from tensorflow.keras.models import load_model # type: ignore
import pickle
import pandas as pd
import numpy as np

In [15]:
## load the train model, scaler pickle , encoded pickle

model=load_model('model.h5')

## load encoded pickle

with open('onehot_encoder_geo.pkl','rb') as file:
    geo_encoded=pickle.load(file)


with open('label_encoder_gender.pkl', 'rb') as file:
    gender_encoded=pickle.load(file)


with open('scaler.pkl', 'rb') as file:
    scaler=pickle.load(file)

In [16]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [22]:
geo_encoded_df=geo_encoded.transform([[input_data['Geography']]])
geo_encoded_df = pd.DataFrame(geo_encoded_df, columns=geo_encoded.get_feature_names_out(['Geography']))

c:\Users\NAKUL\Desktop\Data Science masters\Ineuron_ML\Projects_udemy\venv\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [11]:
type(geo_encoded)

pandas.core.frame.DataFrame

In [18]:
input_df=pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [19]:
## encoding gender 

input_df['Gender']=gender_encoded.transform(input_df['Gender'])

In [20]:
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [23]:
input_df=pd.concat([input_df.drop('Geography', axis=1),geo_encoded_df],axis=1)

In [24]:
## scaling the data
input_scaled=scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [25]:
## prediction
pred=model.predict(input_scaled)
pred

1/1 [==============================] - 1s 974ms/step

array([[0.02967635]], dtype=float32)

In [27]:
pred[0][0]

0.029676352

In [29]:
pred_prob=pred[0][0]
pred_prob

0.029676352

In [30]:
if pred_prob > 0.5:
    print('The customer is likely to churn.')

else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.